.row{
    display: flex;
}

/* .gridElement{
    display: flex;
    width:5px;
    height: 5px;
    background-color: white;
} */

#grid{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 5px solid cyan;
}